h1,
h2,
h3,
h4,
h5,
h6,
html,
main,
body,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  .background-box {
    background-color: white;
  }
  h3 {
    font-size: 14px;
    font-family: Montserrat Alternates;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    padding-top: 13px;
  }
  hr {
    display: block;
    height: 1px;
    background-color: black;
    border: none;
    border-radius: 5px;
    margin: 20px auto;
    margin-top: 20px;
  }

  @media screen and (min-width: 480px) {
    hr {
      width: 536px;
    }

    h3 {
      font-size: 15px;
    }
  }
  @media screen and (min-width: 1200px) {
    main {
      background-image: url(./img/coding_magic-background.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    h3 {
      font-size: 16px;
    }
    hr {
      width: 600px;
    }
  }
}
