h1,
h2,
h3,
h4,
h5,
h6,
html,
main,
body,
p,
ol,
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

body{
    background-image: url(../../img/coding_magic-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}