h1,
h2,
h3,
h4,
h5,
h6,
html,
main,
body,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  h3 {
    font-size: 14px;
    font-family: Montserrat Alternates;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    padding-top: 13px;
  }
  @media screen and (min-width: 480px) {
    background-image: url(./img/coding_magic-background.png);
    background-repeat: no-repeat;
    background-size: cover;

    h3 {
      font-size: 15px;
    }
  }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 16px;
    }
  }
}
