
<section class="birhday-check container">
  <h3 class="title-birhday">Перевір в який рік ти народився</h3>
  <div class="all-birthday">
    <div class="birhday-block">
      <input
        class="birhday-input"
        type="text"
        id="yearInput"
        placeholder="Введіть рік народження"
      />
      <button class="birhday-btn" id="searchBtn" type="button">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <div class="result-birthday" id="resultText"></div>
  </div>

  <hr class="line-birhday" />
</section>
