<footer class="footer">
    <section class="container footer">
        <img src="./img/svg/logo.svg" alt="logo">
        <ul class="footer-list">
            <li class="footer-item">
                <p class="footer-text">Тел: +38 (123) 456 78 90</p>
            </li>

            <li class="footer-item">
                <p class="footer-text">E-Mail: codingmagic@gmail.com
                </p>
            </li>
            <li class="footer-item">
                <p class="footer-text">Facebook: CodingMagic
                </p>
            </li>
            <li class="footer-item">
                <p class="footer-text">Twitter: CodingMagic
                </p>
            </li>
            <li class="footer-item">
                <p class="footer-text">Instagram: CodingMagic</p>
            </li>
        </ul>
        <form class="subscribe-form">
            <input type="email" placeholder="Введіть вашу пошту" required />
            <button type="submit">Підписатися</button>
        </form>
    </section>
</footer>