<section class="guess-number  container">
  <h3 class="title-guess-number">Вгадай число, яке загадав комп’ютер (1-10)</h3>
  <div class="all-guess">
    <div class="guess-block">
      <input
        class="guess-input"
        type="number"
        placeholder="Введіть число"
        id="guessInput"
      />
      <button class="guess-btn" id="checkBtn" type="button-guess">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <div class="result-guess" id="guessText"></div>
  </div>
</section>
<hr class="line-guess" />
