<section class="container scientist">
    <h3 class="scientist-title">Оберіть вченого/их</h3>
    <ul class="scientist-gallery" id="scientistGallery"></ul>
    <div class="output2" id="output1"></div>
    <div id="controls">
        <button data-action="born19">Народилися в 19 ст.</button>
        <button data-action="einsteinYear">Рік народження Einstein</button>
        <button data-action="sortAlpha">Сортувати за алфавітом</button>
        <button data-action="surnameC">Прізвища на "С"</button>
        <button data-action="sortLifespan">Сортувати за тривалістю життя</button>
        <button data-action="deleteA">Видалити ім'я на "А"</button>
        <button data-action="latestBorn">Народився останній</button>
        <button data-action="lifespanExtremes">Найдовше/найкоротше життя</button>
        <button data-action="sameInitials">Імена та прізвища з од. літери</button>
    </div>
</section>