<section class="container scientist">
    <h3 class="scientist-title">Обери вченого/их</h3>
    <ul class="scientist-galary">
        <li class="scientist-item"><img src="" alt="scientist" class="scientist-img"></li>
        <li class="scientist-item"><img src="" alt="scientist" class="scientist-img"></li>
        <li class="scientist-item"><img src="" alt="scientist" class="scientist-img"></li>
        <li class="scientist-item"><img src="" alt="scientist" class="scientist-img"></li>
        <li class="scientist-item"><img src="" alt="scientist" class="scientist-img"></li>
        <li class="scientist-item"><img src="" alt="scientist" class="scientist-img"></li>
        <li class="scientist-item"><img src="" alt="scientist" class="scientist-img"></li>
        <li class="scientist-item"><img src="" alt="scientist" class="scientist-img"></li>
        <li class="scientist-item"><img src="" alt="scientist" class="scientist-img"></li>
        <li class="scientist-item"><img src="" alt="scientist" class="scientist-img"></li>
        <li class="scientist-item"><img src="" alt="scientist" class="scientist-img"></li>
        <li class="scientist-item"><img src="" alt="scientist" class="scientist-img"></li>
    </ul>
</section>