<section class="three-numbers container">
  <hr class="line-number" />
<div class="all-block">
  <h3 class="title-number">Введіть 3 числа</h3>
  <div class="block-number">
    <input
      placeholder="1-ше число"
      type="number"
      name=""
      id="num1"
      class="input-number input-number-1"
    />
    <input
      placeholder="2-ге число"
      type="number"
      name=""
      id="num2"
      class="input-number input-number-2"
    />
    <input
      placeholder="3-тє число"
      type="number"
      name=""
      id="num3"
      class="input-number input-number-3"
    />

  </div>
  <p class="text-number result">
      Найбільше число, яке ви ввели - <span id="numbers-result"></span>
    </p>
</div>
<hr class="line-number" />
</section>
