.header {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  justify-content: space-between;
  font-family: Montserrat Alternates;

  .logo {
    width: 60px;
  }
  .welcome-text {
    font-size: 10px;
    font-weight: 400;
  }
  .header-link-list {
    display: none;
  }
  .nav-list {
    display: none;
  }
  .header-link-list {
    display: none;
  }
  .dropdown {
    display: none;
  }

  @media screen and (min-width: 480px) {
    .logo {
      width: 100px;
    }
    .welcome-text {
      font-size: 12px;
      font-weight: 400;
    }
    .menu-btn {
      display: none;
    }

    .nav-list {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .nav-item {
        position: relative;
      }

      .nav-item:hover {
        color: #8acecf;
      }

      .nav-link {
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        font-style: normal;

        .header-nav-arrow {
          stroke: black;
        }
      }

      .header-nav-arrow {
        stroke: #292d32;

        &.rotate {
          transform: rotate(180deg);
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .header-link-list {
      display: flex;
    }
    .header-link-item {
      font-size: 12px;
      font-weight: 400;
      padding-right: 30px;
      transition: color 0.3s ease-in-out;
    }
    .item2 {
      padding-right: 300px;
    }
    .header-link-item:hover {
      color: #8acecf;
    }
    .menu-btn {
      display: none;
    }

    //dropdown
    .dropdown {
      position: relative;
      display: inline-block;
      font-size: 12px;
    }

    .dropdown-toggle {
      background: none;
      border: none;
      color: inherit;
      cursor: pointer;
      font-weight: 500;
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .dropdown-toggle .arrow {
      transition: transform 0.3s ease;
      font-size: 10px;
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 160px;
      border-radius: 10px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 100;
      margin-top: 10px;
      overflow: hidden;
      flex-direction: column;
    }

    .dropdown-menu a {
      color: black;
      padding: 10px 16px;
      text-decoration: none;
      display: block;
      transition: background-color 0.2s ease;
    }

    .dropdown-menu a:hover {
      background-color: #eee;
      font-weight: 500;
    }

    /* Dark mode */
    .dark-mode .dropdown-menu {
      background-color: #2b2b2b;
    }

    .dark-mode .dropdown-menu a {
      color: white;
    }

    .dark-mode .dropdown-menu a:hover {
      background-color: #444;
    }
  }
}
