.time-calculator {
  min-width: 0px;
  font-family: Montserrat Alternates;


  .dots-result-box {
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .time-calculator-lines {
    display: none;
}

  @media screen and (min-width: 480px) {

    .time-calculator-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .dots-result-box {
      padding-bottom: 10px;
    }

    .time-calculator-lines {
        display: block;
        padding-bottom: 10px;
    }
  }

  @media screen and (min-width: 768px) {
    .time-calculator-container {
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
    }
  }
}
